body {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

:root {
    --size: 70px;
    --bgcolor: rgb(255,255,255);
}

.halozat {
    display: inline-block;
    height: var(--size);
    width: var(--size);
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding-left: 0px;
}

.festett {
    background-color: var(--bgcolor);
}

#grid {
    padding: 0px;
    height: 480px;
    width: 480px;
    line-height: 0;
    border-style: solid;
    border-color: black;
    border-width: 0px;
}