body {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

div.halozat {
    display: inline-block;
    color: red;
    height: 70px;
    width: 70px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding-left: 0px;
}

.fekete {
    background-color: black;
}

#grid {
    padding: 0px;
    height: 720px;
    width: 720px;
    line-height: 0;
    border-style: solid;
    border-color: black;
    border-width: 0px;
}