body {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

:root {
    --size: 70px;
}

div.halozat {
    display: inline-block;
    color: red;
    height: var(--size);
    width: var(--size);
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding-left: 0px;
}

#grid {
    padding: 0px;
    height: 720px;
    width: 720px;
    line-height: 0;
    border-style: solid;
    border-color: black;
    border-width: 0px;
}